secrets:
  GITHUB_COM_TOKEN: {{ requiredEnv "GITHUB_COM_TOKEN" | quote }}
  RENOVATE_TOKEN: {{ requiredEnv "GITHUB_COM_TOKEN" | quote }}
  RENOVATE_GIT_AUTHOR: "Renovate Bot <bot@renovateapp.com>"
  RENOVATE_PLATFORM: "github"